* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 50px 0;
}
#container {
  width: 400px;
  margin: auto;
  background-color: rgb(132, 199, 244);
  padding: 40px;
  border-radius: 10px;
}
p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.label {
  font-weight: bold;
}
.info {
  border: 1px solid #000;
  width: 100px;
  padding: 5px;
}
