* {
  margin: 0;
}

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

main,
section,
header,
footer,
figure {
  /* border: 2px solid #000; */
}

main {
  padding: 20px;
}

#container {
  width: 35%;
  min-width: 350px;
  background-color: white;
  padding: 10px;
  margin: auto; /*centra in orizzontale*/
  border-radius: 7px;
}

#container header {
  background-color: blue;
  color: white; /*il color può essere specificato a livello di contenitore se deve interessare tutto il testo del contenitore. In questo caso essendoci solo l'h1  */
  /* border-top-left-radius: 7px;
  border-top-right-radius: 7px; */
  border-radius: 7px 7px 0 0; /*sintassi shortand topleft topright bottomright bottomleft*/
  padding: 10px;
  /* text-align: center; se lo metto qui vale per tutti i testi del contenitore */
}

h1 {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center; /*vale solo per h1*/
}

#sectVuota {
  margin-top: 50px;
  padding: 30px;
}

#info {
  padding: 40px;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
}
#info figure,
#info section {
  display: inline-block;
}

#info figure {
  margin-right: 100px;
}
#info figure:hover {
  opacity: 0.7;
}

.label {
  color: blue;
  font-weight: bold;
  margin-right: 5px;
}

#container #info p {
  margin-bottom: 7px;
}

#container footer {
  padding: 10px;
  border-radius: 0 0 7px 7px;
  background-color: lightgray;
  text-align: end;
  font-size: 14px;
}

#info p {
  margin-bottom: 100px;
}
