body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

#container header {
  background-color: blue;
  color: white; /*il color può essere specificato a livello di contenitore se deve interessare tutto il testo del contenitore. In questo caso essendoci solo l'h1  */
}

h1 {
  text-transform: uppercase;
}
