* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header1 {
  border: 1px solid #000;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* margin: auto; */
}
#header1 #logo img {
  height: 35px;
  border: 1px solid #000;
}

#header1 nav {
  border: 1px solid #000;
}
#header1 nav ul {
  list-style: none; /*rimuove i pallini dalla lista*/
  display: flex;
  gap: 20px;
}

#header1 nav ul li a {
  text-decoration: none; /*rimuove la sottolineatura dei link*/
  color: #565656;
}
