* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header1 {
  /* border: 1px solid #000; */
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
#header1 #logo img,
#header2 #logo2 img {
  height: 35px;
  /* border: 1px solid #000; */
  display: block; /*per centrare correttamente l'immagine trasformarla in blocco (non inline-block)*/
}

/* #header1 nav {
  border: 1px solid #000;
} */
#header1 nav ul,
#header2 nav ul {
  list-style: none; /*rimuove i pallini dalla lista*/
  display: flex;
  gap: 20px;
}

#header1 nav ul li a,
#header2 nav ul li a {
  text-decoration: none; /*rimuove la sottolineatura dei link*/
  color: #565656;
}

#header2 {
  background-color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0;
  border-bottom: 2px solid gray;
}

#header2 #logo2 {
  flex-grow: 1;
}

#header2 nav {
  margin-left: 30px;
}

.fa-brands {
  font-size: 25px;
}

/* HERO */
#hero {
  width: 100%;
  min-height: 600px;
  border: 1px solid #000;
  background-image: url('../MEDIA/CopertinaPersone.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#wrapper {
  padding: 50px 20px;
  display: flex;
  gap: 30px;
}

.half {
  flex-basis: 50%;
  border-radius: 10px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#wrapper :first-child {
  background-image: url(../MEDIA/Copertina-conteggio.png);
}

#wrapper :last-child {
  background-image: url(../MEDIA/vita-sottomarina-delle-maldiveCSS.jpg);
}
